.topnav a {
  float: right;
  color: black;
  padding: 18px;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
}

#navbar-brand{  /*the name of the icecream shop*/
  color: black;
  font-size: 200px;
  position: absolute; /*positions my text relative to its closest positioned ancestor*/
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  /* opacity: 0.7; */
  color: #4FE6CA;
}